
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="upex">

	<listeners>
		<listener class-name="Listen.Listeners_class"></listener>
	</listeners>

	<test name="license">

		<classes>
			<class name="testscripts.Initial"></class>
			<class name="testscripts.NDLD"></class>
		</classes>
	</test>


</suite>
